:root {
    --primary-font: 'Outfit', sans-serif;
    --secondary-font: 'Noto Serif', serif;
    font-size: 10px;
    --color-1: #002b84;
    --color-2: #00A0DF;
    --color-txt: #47494e;

}

.section-padding {
    padding: 3rem 1.5rem;
}
.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: fit-content;
}
.main-btn_link {
    padding: 1rem 2rem;
    background-color: var(--color-1);
    width: fit-content;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

.main-btn_link:hover {
    cursor: pointer;
    background-color: #0244c8;
}

.main-btn_txt {
    font-family: var(--primary-font);
}

.content {
    font-size: 1.2rem;
    color: var(--color-txt);
    line-height: 1.3;
    margin-top: 1.5rem;
    font-weight: 300;
}

strong {
    font-weight: bold;
}

/* HERO */
.hero {
    background-image: url("../img/hero-mobile.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:46rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
.logo-img {
    height: 2.75rem;
}

.logo-name {
    font-size: 2.5rem;
    color: #002b84;
    margin-left: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.title {
    font-size: 3rem;
    text-align: center;
    line-height: 1.4;
}

.title-main {
    color: var(--color-1);
    font-size: 2.5rem;
    font-weight: 500;
}

.title-sub {
    color: var(--color-2);
    font-family: var(--secondary-font);
    font-size: 2.5rem;
}



/* GET STARTED */
.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
}

.get-started_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9rem;
    line-height: 1.4;
}

.get-started_heading-1 {
    font-family: var(--secondary-font);
    color: var(--color-2)
}

.get-started_heading-2 {
    color: var(--color-1);
    letter-spacing: 2px;
}

.get-started_btn {
    margin-bottom: 1rem;
}

.get-started_content {
    text-align: center;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem;
}
.column-img {
    width: 3rem;
    margin-right: 1.5rem;
}

.column-txt.content {
    margin: 0;
}

/* BENEFITS */

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
    background-color: var(--color-2);
    color: #fff;
}

.benefits_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9rem;
    line-height: 1.4;
    letter-spacing: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem;
}

.container-img {
    width: 3rem;
    margin-bottom: 1.25rem;
}

.container-heading {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    text-align: center;
}

.container-txt.content {
    color: #fff;
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

.benefits_btn .main-btn_link {
    background-color: #fff;
    color: var(--color-1);
    font-weight: 500;
}

/* OFFER */

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/offer.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 38rem;
}

.offer-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
}

.offer_heading {
    font-size: 2.25rem;
    text-align: center;
}

.offer_heading-1 {
    font-family: var(--secondary-font);
    color: var(--color-2);
    line-height: 1.2;
}

.offer_heading-2 {
    font-family: var(--primary-font);
    color: var(--color-1);
    letter-spacing: 2px;
    line-height: 1.4;
    padding-top: .5rem;
}

/* SIGN UP */
.sing-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
}

.sing-up_info_title {
    color: var(--color-1);
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.sing-up_info_txt.content {
    margin: 1rem;
    line-height: 1.5;
}

.submit-email {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #333;
    width: 90%;
    background-color: #002b84;
}

.submit-email a {
    text-decoration: none;
}

.submit-email_input {
    font-size: 1.3rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #333;
    width: 100%;
    border: none;
}

.s-btn {
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.s-btn:hover {
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: var(--color-1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
    text-align: center;
}
.footer-c {
    width: 100%;
    padding-bottom: 2rem;
}

.footer-c p {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.footer-c_terms {
    display: flex;
    justify-content: center;
}
.footer-c_terms a {
    color: #fff;
    margin: 0 .5rem;
}

.footer-c_icons, .footer-c_copy {
    padding-bottom: .75rem;
}
.footer-logo {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo .logo-name {
    color: #fff;
}